
/* CDN Fonts import */
@import url('http://fonts.cdnfonts.com/css/harry-potter');

/* -------------------------------------------------------------------- Variables */
:root {
    --gold:#f1bf58;
    --sun:#fabc11;
    --black:black;

}

/* -------------------------------------------------------------------- Resets */

html {
    width: 100%;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/background.png");
    background-color:var(--gold);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Harry Potter', sans-serif;
}

a {
    text-decoration: none;
}

/* -------------------------------------------------------- Harry potter flying Animation */

#flying-animation img{
    position: absolute;
    animation: flying-harry 10s infinite normal ease;
    width:150px;
    height:150px;
}

/* -------------------------------------------------------- Home section*/

#game-name-img{
    display: block;
    width:50%;
    margin-top:10%;
    margin-left: auto;
    margin-right: auto;
}

#start-button-img{
    display: block;
    width:20%;
    margin-top:5%;
    margin-left: auto;
    margin-right: auto;
    animation: animated-start-btn 20s linear infinite;
}

/* -------------------------------------------------------------------- Animation */

@keyframes flying-harry{
    0% {left:0px; top:0px}
    25% {top:300px;}
    50%{top:0px}
    100% {top:0px; left: 90%;}
}


/* -------------------------------------------------------------------- Media queries */

/* Small devices (phones, 768px and down) */
@media only screen and (max-width: 768px) {
   
    #game-name-img{
        width:100%;
        margin-top:35%;
        padding: 10px;
    }
    #start-button-img{
        width:50%;
    }

    /* Animation media queries */
    @keyframes flying-harry  {
        0% {left:0px; top:0px}
        25% {top:300px;}
        50%{top:0px}
        100% {top:0px; left: 55%;}
    }
}